{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'authapp/styles/styles.css' %}"
    />
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Home</h2>
      <p>Welcome, {{request.user.username}}!</p>
      <a href="{% url 'protected' %}">Go to your protected page!</a>
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>