{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'authapp/styles/styles.css' %}"
    />
    {% comment %} Style for error message to be in red color {% endcomment %}
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %} {% comment %} Hidden Input {% endcomment %}
      <input type="hidden" name="next" value="{{next}}" />
      <div class="form-group">
        <label for="username">Username:</label>
        <input type=""text" name="username" id="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type=""text" name="password" id="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    {% comment %} Check for error messages {% endcomment %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
    {% endif %}

    <p>
      Dont have an account? <a href="{% url 'register' %}">Register here</a>
    </p>
  </body>
</html>
